assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/litvinov-magazine.iml
.idea/yii2settings.xml
docker/.env
backend/web/assets/*
frontend/node_modules
.idea/*
docker/proxy/config/default.conf
*.Identifier
*.Identifier
